[submodule "Reviews-Service"]
	path = Reviews-Service
	url = https://github.com/keybox130/Reviews-Service
[submodule "Gallery-Service"]
	path = Gallery-Service
	url = https://github.com/keybox130/Gallery-Service
[submodule "Booking-Service"]
	path = Booking-Service
	url = https://github.com/keybox130/Booking-Service
[submodule "More-Places-Service"]
	path = More-Places-Service
	url = https://github.com/keybox130/More-Places-Service
